@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,400;1,700&family=Zen+Dots&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.8;
}

.search-icon {
    list-style: none;
}

#logo {
    width: 10%;
    text-align: center;
}



#navbar {
    position: relative;
    z-index: 3;
}

#navbar ul {
    display: flex;
    width: 100%;
    padding: 0px 10px 0px 0px;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

#navbar ul li {
    list-style: none;
    font-size: 1rem;

    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 700;
}

#navbar ul li a {
    color: lightgray;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: flex;
    height: 60px;
    align-items: center;
}

#navbar ul .item a.nav-upper::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 18px;
    left: 0px;
    background-color: red;
    transform-origin: right bottom;
    transition: transform 0.25s ease-out 0s;
}

#navbar ul li a.nav-upper:hover::after {
    transform: scaleX(1);
    transform-origin: left bottom;
}

.datetime {
    color: rgb(255, 255, 255);


    padding: 5px 0;

    background: rgb(16, 16, 30);
    font-family: "Segoe UI", sans-serif;
    width: 340px;
    border: 3px solid black;
    border-radius: 5px;

    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));

    transition: background 0.5s ease 0s, box-shadow 0s ease 0s;
}

.datetime:hover {
    background: rgb(46, 148, 227);

    box-shadow: rgb(46, 148, 227) 0px 0px 30px;
    border: 3px solid white;
    cursor: pointer;

    /* box-shadow: rgb(46, 148, 227) 0px 0px 30px; */
    /* border: 3px solid white; */
    /* cursor: pointer; */

}

.date {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0px 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0px;
    padding: 0px 5px;
    border-radius: 3px;
}

.drivers li {
    border-width: 0px 1px 1px 0px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: rgb(169, 160, 160);
    border-bottom-color: rgb(169, 160, 160);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-radius: 0px 0px 11px;
    margin-top: 0px;
    padding: 9px;
}

.nav-secondary {
    position: absolute;
    width: 100vw;
    top: 60px;
    left: 0px;
    background: rgb(9, 8, 8);
    z-index: 90 !important;
}

.nav-contents {
    width: 1300px;
    margin: auto;
    padding-top: 0px;
}

.nav-header a {
    border-width: 0px 1px 1px 0px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: rgb(169, 157, 157);
    border-bottom-color: rgb(169, 157, 157);
    border-image: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-top-style: initial;
    border-top-color: initial;
    border-radius: 0px 0px 15px;
    margin-top: 21px;
    font-size: 22px;
    padding: 5px 0px;
}

.navwidth {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    box-sizing: border-box;
}

.ns-wrapper {
    width: 100%;
    box-sizing: border-box;
    max-width: 1300px;
    margin: auto;
}

.nav-list.drivers {
    padding-top: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 22px;
}

#navbar .nav-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

i.nav-icon {
    width: 4px;
    border-radius: 0px;
    display: inline-block;
    height: 14px;
    align-self: center;
    margin: 0px 10px;
    background: red;
}

a:hover {
    cursor: pointer;
}

.drop-menu {
    height: 20px !important;
}

#home {
    justify-content: center;
    display: flex;
    height: 100vh;
    background: 0% 0% / cover no-repeat black;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.back-video {

    position: absolute;

    right: 0px;
    bottom: 0px;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
}

.home_content {
    z-index: 2;
    width: 1100px;
    overflow: hidden;
}

.heading-sub img {
    margin-top: 6px;
}

.heading-sub {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.driver-stand {
    box-sizing: border-box;
    display: flex;
}

.driver-stand img {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

span.Sergio-flag {
    display: inline-block;
}

.top-1sub1 img {
    position: absolute;
    bottom: 0px;
}

.standings {
    margin: 30px 0px 0px;
}

.driver-stand {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
    margin: auto;
    bottom: -200px;
    left: auto;
    right: auto;
    padding: 290px 0px 0px;
}

.top-1 {
    width: 28%;
    text-align: left;
    margin-top: 19px;
}

.top-1-1 {
    text-align: left;
    width: 35%;
    margin-top: 8px;
}

.top-1sub1 {
    max-width: 1300px;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 15px 15px 0px 0px;
    background: white;
    height: 170px;
    position: relative;
}

.top-1sub2 {
    max-width: 1300px;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    padding: 12px;
    border-width: 0px 2px 2px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    background: rgb(31, 30, 40);
    color: white;
    letter-spacing: 7px;
}

span.Sergio-flag img {
    width: 8%;
    display: inline-block;
}

span.Sergio-flag {
    display: inline-block;
}

.back-url {
    background-image: url("bg@2x.avif");
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
}

.container {
    box-sizing: border-box;
    background: rgb(243, 243, 243);
}

li.ranking {
    cursor: pointer;
    border: 2px solid white;
    width: 55%;
    margin: 0px auto 2px;
    list-style: none;
    border-radius: 4px;
    letter-spacing: 2px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 13px 30px;
    box-sizing: border-box;
}

li.ranking:hover {
    background: black;
    color: white;
}

ul.f1-podium {
    background: rgb(243, 243, 243);
}

.podium-rank {
    font-family: F1Bold;
    font-size: 14px;
}

span.podiumright {
    box-sizing: border-box;
    margin-left: auto;
}

span.points {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 9px;
    font-size: 13px;
    padding: 2px 10px;
    background: rgb(237, 237, 237);
    box-sizing: border-box;
    font-family: fangsong;
}

span.team-color {
    width: 4px;
    border-radius: 0px;
    display: block;
    height: 17px;
    align-self: center;
    margin: 0px 10px;
    background: rgb(54, 113, 198);
}

.btn {
    border-radius: 5px;
    border: 2px solid;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0px 13px 24px;
    width: 12%;
    background: red;
    color: white;
    margin: 20px auto auto;
    font-size: 12px;
}

.btn:hover {
    background: white;
    color: black;
    border-color: red;
}

.row {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.f1-partners {
    background: rgb(21, 21, 30);
    width: 100%;
    /* height: 100vh; */
}

.ourpartners {
    color: white;
    font-size: 26px;
    letter-spacing: 2px;
    margin-top: 7px;
}

ul.coloum1 {
    width: 1300px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    padding: 0px 0px 10px;
    border-bottom: 1px solid rgb(56, 56, 63);

    text-decoration: none;
    list-style: none;

}

.coloum1 img {
    width: 125px;
}

span.logo img {
    width: 74px;
}

ul.coloum2 {
    width: 1300px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    padding: 0px 0px 10px;
    border-bottom: 1px solid rgb(56, 56, 63);

    list-style: none;

}

ul.coloum3 {
    width: 1300px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    padding: 0px 0px 10px;
    border-bottom: 1px solid rgb(56, 56, 63);

    list-style: none;

}

.Lastcoloum-1 {
    width: 100%;
    margin: auto;
    background: rgb(21, 21, 30);
}

.lastcoloum {
    width: 100%;
    max-width: 1300px;
    background: rgb(21, 21, 30);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px 20px;
    line-height: 35px;
    letter-spacing: 2px;
    margin: 60px auto 0px;
    border-width: 0px 9px 9px 0px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: rgb(56, 56, 63);
    border-bottom-color: rgb(56, 56, 63);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-radius: 0px 0px 35px;
    box-sizing: border-box;
}

.lastcoloum li {
    list-style: none;
}

.lastcoloum li:hover {
    text-decoration: underline red;
    cursor: pointer;
    text-underline-offset: 4px;
}

p.next {
    color: white;
    font-size: 39px;
    letter-spacing: 6px;
    font-weight: 600;
    display: inline-block;
    animation: 9s linear 0s infinite normal none running slideRight;
    white-space: nowrap;
    margin-top: -20px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(150%);
    }
}

.nextrace-sub {
    background: rgb(50, 95, 127);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 7px;
    justify-content: center;
}

.nextrace {
    box-sizing: border-box;
}

.next img {
    width: 7%;
    margin-bottom: -20px;
}

hr.bottom-line {
    background: rgb(56, 56, 63);
    border: 0px;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1300px;
    height: 1px;
}

.text-bottom {
    color: white;
    font-size: 12px;
    margin-top: 22px;
}

.row-bottom {
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
}

.Schedule-main {
    box-sizing: border-box;
    margin-top: 40px;
}

.Schedule-sub {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
span.letters {
    display: inline-block;
    letter-spacing: 5px;
}

.Schedule-sub-2 {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
    margin: auto;
    letter-spacing: 2px;
    border-top: 10px solid black;
    border-right: 10px solid black;
    border-top-right-radius: 25px;
    padding-top: 20px;
    padding-right: 20px;
}



.upper-1 {
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    color: red;
    font-size: 11px;
}

a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.icon img {
    width: 19px;
    margin-top: 11px;
}

.icon {
    box-sizing: border-box;
    border-radius: 2px 0px 0px 2px;
    width: 40px;
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
    background: red;
}

.Schedule-Next-sub {
    border-radius: 2px 0px 0px 2px;
    overflow: hidden;
    border: 1px solid rgb(237, 237, 237);
}

.track {
    border-width: 1px 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(213, 212, 212);
    border-right-color: rgb(213, 212, 212);
    border-bottom-color: rgb(213, 212, 212);
    border-image: initial;
    border-left-style: initial;
    border-left-color: initial;
    padding-left: 9px;
    text-align: left;
}

span.track-year {
    font-family: Wallpoet, cursive;
    color: red;
    font-weight: 200;
    font-size: 20px;
}

span.track-name {
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

h1.no-margin {
    font-family: "Russo One", sans-serif;
    font-size: 60px;
    font-weight: bold;
}


.cont-1-1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
}

.cont-1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.cont-1-2 {
    width: 50%;
}

.cont-1-2 p {
    font-family: "Titillium Web", sans-serif;
}

.cont-1-3 {
    display: flex;
    flex-wrap: wrap;
    font-family: "Titillium Web", sans-serif;
    line-height: 20px;
}

.cont-1-3 a {
    margin-right: 10px;
    margin-bottom: 10px;
}

.cont-1-1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
}

.cont-1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    background: rgb(249, 249, 249);
    border-radius: 5px;
}

.cont-1-2 {
    width: 65%;
    letter-spacing: 2px;
}

.cont-1-2 p {
    font-family: "Titillium Web", sans-serif;
    font-size: 25px;
    color: currentcolor;
}

.cont-1-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Titillium Web", sans-serif;
    height: unset;
}

.cont-1-3 a {
    margin-right: 20px;
    margin-bottom: 10px;
    border-right: 1px solid rgb(148, 148, 152);
    border-bottom: 1px solid rgb(148, 148, 152);
    border-radius: 0px 0px 6px;
    padding: 0px 10px 10px 0px;
    letter-spacing: 2px;
    color: red;
}

.header-main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.header-sub {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
}

.header-sub-1 {
    margin-top: 35px;
}

fieldset {
    border-width: 10px;
    border-top-style: solid;
    border-color: rgb(225, 6, 0);
    border-right-style: solid;
    width: 100%;
    text-align: left;
    border-bottom-style: initial;
    border-left-style: initial;
    margin-top: 20px;
    border-top-right-radius: 10px;
}

legend.left-head {
    padding-right: 10px;
    color: red;
    font-weight: bolder;
}

.header-cont-1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.header-cont-2 {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.event-time {
    font-family: "Russo One", sans-serif;
}

.event-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 0px 0px 10px;
}
p.no-margin-1 {
    span.letters {
    display: inline-block;
    letter-spacing: 5px;
};
    span.letters {
    display: inline-block;
    letter-spacing: 5px;
};
    span.letters {
    display: inline-block;
    letter-spacing: 5px;
};
    font-size: 30px;
    color: white;
    margin-bottom: 6px;

}

.country-flag img {
    width: 50px;
    border-radius: 5px;
}

.header-cont-3 {
    width: 25%;
}

p.no-margin {
    font-size: 31px;
    color: white;
    margin-bottom: 6px;
}

span.month-wrap {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 5px 1px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.header-background {
    background: rgb(21, 21, 30);
}

.event-icon img {
    width: 10%;
}

.event-detalis {
    box-sizing: border-box;
    border-bottom: 1px solid white;
    padding: 0px 0px 10px;
}

.event-place {
    font-size: 32px;
    line-height: 36px;
    color: white;
    margin-top: 15px;
    font-weight: bolder;
}

.event-title {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-bottom: 3px;
}

.event-image-sub img {
    width: 80%;
    margin-top: 11px;
}

.event-image {
    background-image: url("maps/plus-white-x2.avif");
    box-sizing: border-box;
}

picture.event-image-sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}

.header-img-right {
    box-sizing: border-box;
    width: 73%;
    padding: 22px 5px 0px 0px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.header-img-right-sub {
    background-image: url("/maps/image%20(13).avif");
    min-height: 347px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    width: 100% !important;
}

}

.country-flag img {
    width: 50px;
    border-radius: 5px;
}

.header-cont-3 {
    width: 25%;
}

p.no-margin {
    font-size: 31px;
    color: white;
    margin-bottom: 6px;
}

span.month-wrap {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 5px 1px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.header-background {
    background: rgb(21, 21, 30);
}

.event-icon img {
    width: 10%;
}

.event-detalis {
    box-sizing: border-box;
    border-bottom: 1px solid white;
    padding: 0px 0px 10px;
}

.event-place {
    font-size: 32px;
    line-height: 36px;
    color: white;
    margin-top: 15px;
    font-weight: bolder;
}

.event-title {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-bottom: 3px;
}

.event-image-sub img {
    width: 80%;
    margin-top: 11px;
}

.event-image {
    background-image: url("maps/plus-white-x2.avif");
    box-sizing: border-box;
}

picture.event-image-sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}

.header-img-right {
    box-sizing: border-box;
    width: 73%;
    padding: 22px 5px 0px 0px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.header-img-right-sub {
    background-image: url("/maps/image%20(13).avif");
    min-height: 347px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    width: 100% !important;
}

.next-rounds-schedule {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.next-rounds-schedule-1 {padding-bottom: 10px;box-sizing: border-box;}

.next-rounds-schedule-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}


legend.card-title {
    padding-right: 10px;
    margin-top: 40px;
    color: red;
}

.race-card {
    border-width: 2px 2px 10px 10px;
    border-top-style: solid;
    border-color: black black rgb(225, 6, 0) rgb(225, 6, 0);
    border-right-style: solid;
    width: 100%;
    text-align: left;
    border-bottom-style: initial;
    border-left-style: initial;
    margin-top: 40px;
    border-top-right-radius: 10px;
}



legend.card-title {
    padding-right: 10px;
    margin-top: 40px;
    color: red;
}

.race-card {
    border-width: 2px 2px 10px 10px;
    border-top-style: solid;
    border-color: black black rgb(225, 6, 0) rgb(225, 6, 0);
    border-right-style: solid;
    width: 100%;
    text-align: left;
    border-bottom-style: initial;
    border-left-style: initial;
    margin-top: 40px;
    border-top-right-radius: 10px;
}


.event-image-upcoming {
    background-image: url("maps/plus-x2.avif");
    background-size: 8px;
    margin-top: 8px;
}

picture.event-image-sub-upcoming {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
}

img {
    width: 80%;
}

.country-flag-upcoming img {
    width: 50px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
}

.event-info-upcoming {
    border-bottom: 1px solid black;
    padding: 0px 0px 10px;
}

.date-month-upcoming {
    font-family: "Russo One", sans-serif;
}

p.no-margin-upcoming {
    font-size: 20px;
    color: black;
    margin-bottom: 6px;
}

span.month-wrap-upcoming {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 5px 1px;
    background: black;
    color: white;
    text-transform: uppercase;
}

.event-detalis-upcoming {
    box-sizing: border-box;
    border-bottom: 1px solid black;
    padding: 0px 0px 10px;
}

.event-place-upcoming {
    font-size: 25px;
    line-height: 25px;
    color: black;
    margin-top: 10px;
    font-weight: bolder;
}

.event-title-upcoming {
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 2px;
    font-family: "Titillium Web", sans-serif;
}

.event-image-sub-upcoming img {
    width: 50%;
}

.event-space-time-upcoming {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

.country-flag-upcoming {
    display: inline-block;
}

.f1-footer-bottom {
    box-sizing: border-box;
}

.f1-footer-bottom-1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}



ul.footer-bottom-sub {
    display: flex;
    flex-wrap: wrap;

    list-style: none;

}

li.f1-nav_item {
    text-decoration: none;
    margin-right: 40px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 11px;
}

span.f1-nav_item-sub {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

span.f1-nav_item-sub:hover {
    text-decoration: underline red;
    text-underline-offset: 5px;
}
.bottom {
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* DRIVERS-F1 */
.driver-cont-1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.driver-cont-sub {
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background: blanchedalmond;
    /* display: flex; */
}

.driver-cont-sub-1 {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -10px; */
    /* margin-left: -10px; */
}

p.drivers-cont-sub-2 {
    max-width: 45%;
    color: black;
    letter-spacing: 0.5px;
}

.driver-full-list {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.letters:first-child .letters:first-child{
    color:red;
}

.letters:first-child .letters:nth-child(2){
    color:red;
}

fieldset.drivers-card {border-width: 2px 2px 10px 10px;border-top-style: solid;border-color: black black rgb(225, 6, 0) rgb(225, 6, 0);border-right-style: solid;width: 100%;text-align: left;border-bottom-style: initial;border-left-style: initial;margin-top: 40px;border-top-right-radius: 10px;padding-right: 15px;}

.driver-full-list-sub-1 {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 30px;
}
.drivers-listing-standing {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}
.drivers-card:hover {
    border-color: red;

    padding-top: 20px;

    padding-top: 15px;

    margin-top: 25px;
}

.drivers-listing-rank {
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
}

.drivers-listing-rank-points-up {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Archivo Black', sans-serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Russo One', sans-serif; */
}
.drivers-listing-rank-points-down {
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    margin: 0 0 0 auto;
    padding: 1px 0 0;
    text-align: center;
    width: 65px;
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Lobster', cursive;
    /* font-family: 'Russo One', sans-serif; */
}
.drivers-listing-rank-points {
    text-align: right;
    padding: 0px 15px;
    margin-top: 5px;
}

.drivers-listing-info {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    align-items: center;
}

.listing-countryflag img {
    width: 25%;
    border-radius: 6px;
    border: 1px solid black;
}

.drivers-listing-info-sub {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
}



.drivers-listing-countryflag {
    box-sizing: border-box;
    text-align: end;
    margin-right: 5px;
    margin-top: 7px;
}

.drivers-listing-info-sub-1 {
    color: black;
    font-weight: bolder;
    /* font-size: 22px; */
    border-left: 5px solid #5c5cf7;
    margin-top: 10px;
    padding: 0 0 0 8px;
}

span.drivers-listing-info-name {

    font-size: 22px;

    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Lobster', cursive;
    /* font-family: 'Russo One', sans-serif; */
}

span.drivers-listing-info-surname {

    font-size: 25px;

    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Archivo Black', sans-serif; */
    /* font-family: 'Lobster', cursive; */
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
}
p.drivers-listing-team-name {margin-top: 5px;font-weight: bolder;color: #67676d;letter-spacing: 1px;font-family: 'Abril Fatface', cursive;/* font-family: 'Archivo Black', sans-serif; *//* font-family: 'Lobster', cursive; *//* font-family: 'Russo One', sans-serif; */}

.drivers-listing-driver-pic {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

picture.drivers-listing-driver-pic-main {
    box-sizing: border-box;
    width: 100%;
}

.drivers-listing-driver-pic-main img {
    width: 80%;
}

picture.drivers-listing-driver-pic-num {
    width: 30%;
    display: flex;
    align-items: end;
}

.drivers-listing-driver-pic-num img {
    width: 100%;
}
.driver-full-list-sub {
    box-sizing: border-box;
    margin-bottom: 10px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* DRIVERS-INFO */

.driver-info-cont {
    background: #f7f4f1;
    padding: 40px;
}

.driver-info-cont-1 {
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    margin: auto;
 
}

.player-full-image-cont img {width: 100%;}
.player-full-image-cont {
    height: 452px;
    overflow: hidden;
}
section.player-profile {
    box-sizing: border-box;
    width: 50%;
}

section.driver-section-2 {
    width: 50%;
}
.driver-photo-details-main-name-flag img {
    border-radius: 5px;
}

span.driver-photo-details-main-name-flag {
    display: inline-block;

    margin: 0 0 0 5px;
  
    width: 12%;
}

.brand-logo img {
    max-width: 190px;
    max-height: 125px;
}

.brand-logo {
    width: 40%;
}
header.driver-info-full {
    display: flex;
    flex-wrap: wrap;
}
section.extra-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
p.quick-lines-sub {font-size: 22px;line-height: 1.444;}

a.text-link {
    color: red;
    font-weight: bolder;
}


th.stat-key {
    padding: 4px 0px 4px 50px;
    text-align: left;
    font-family: 'F1BoldRegular',Helvetica,sans-serif;
    font-weight: 700;
    font-size: 24px;
 
    line-height: 1.222;
    box-sizing: border-box;
    letter-spacing: 1px;
}

table.driver-section-2-table {
    width: 100%;
}
.driver-section-2-sub-1 {
    box-sizing: border-box;
    padding: 40px;
}
.driver-section-first-upper {
    width: 100%;
}
td.stat-value {font-size: larger;}
td.stat-value {font-size: larger;}

figcaption.driver-photo-details {
    padding: 35px 40px;
}

.driver-photo-details-main-name {
    color: gray;
    letter-spacing: -1px;
    margin: 0 0 15px;
    font-family: 'F1BoldRegular',Helvetica,sans-serif;
    font-weight: 500;
    font-size: 53px;

    line-height: 1.142;
}

h1.driver-name {
 font-weight: 700;
 font-size: 4.2rem;
 line-height: 1.142;
 margin: 0;
 padding: 0;
 /* font-family: 'Abril Fatface', cursive; */
 /* font-family: 'Archivo Black', sans-serif; */
 /* font-family: 'Lobster', cursive; */
 /* font-family: 'Russo One', sans-serif; */
 font-family: 'Tektur', cursive;
}
section.player-biography {
    background: #fff;
    margin: 0 0 2px;
    overflow: hidden;
    padding: 40px 20px;
    box-sizing: border-box;
}

.text-parbase {
    padding: 0 40px;
    box-sizing: border-box;
}

h3.bio {
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: xxx-large;
    text-align: left;
    padding-bottom: 10px;
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Archivo Black', sans-serif; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Russo One', sans-serif; */
    font-family: 'Tektur', cursive;
}

p.text-base-1 {
    line-height: 1.645;
    font-size: 18px;
    margin-top: 28px;
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Archivo Black', sans-serif; */
    /* font-family: 'Lobster', cursive; */
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Russo One', sans-serif; */
    /* font-family: 'Tektur', cursive; */
    letter-spacing: 1px;
}
.swiper-container-img img {
    width: 100%;
}
.swiper-container-img img {
    width: 100%;
    /* height: auto; */
}


.player-homescreen-photos{
    max-width: 1300px;
}


.swiper-container-img {height: 793px;overflow: hidden;}

.slider-container {
    overflow: hidden;

    height: 805px;

    height: 732px;

    box-sizing: border-box;
}

.slider {
    display: flex;

    transition: transform 0.5s ease-in-out;

    box-sizing: border-box;
}
.slider img{
    width: 100%;
    box-sizing: border-box;
}
.gallery-caption {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 30px 60px;
    background-color: white;
    letter-spacing: 1px;
    line-height: 22px;

    font-family: 'Tektur', cursive;
    color: black;
    letter-spacing: 2px;

}
.gallery-text-2 {
    width: 80%;
    /* padding-left: 100px; */
}

.gallery-text {
    display: flex;
    /* flex-wrap: wrap; */
    width: 20%;
}
.gallery-small-pics {
    box-sizing: border-box;
    width: 100%;
    /* max-width: 1300px; */
    /* margin: auto; */
    margin-top: 35px;
    border-top: 10px solid red;
    padding-top: 15px;
    border-right: 10px solid red;
    border-top-right-radius: 15px;
}

.gallery-small-pics-1 {
    display: flex;
    gap: 11px;
    width: 24%;
    /* justify-content: space-evenly; */
}

.gallery-small-pics-1 img {
    /* border: 1px solid black; */
    border-radius: 5px;

}

/* ------------------------------------------------------------------------------------------------------ */
/* TEAMS */
.teams-main-container {

    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

fieldset.video-card {
    border-width: 2px 2px 10px 10px;
    border-top-style: solid;
    border-color: black black rgb(225, 6, 0) rgb(225, 6, 0);
    border-right-style: solid;
    width: 100%;
    text-align: left;
    border-bottom-style: initial;
    border-left-style: initial;
    margin-top: 40px;
    border-top-right-radius: 10px;
}
legend.video-card-1 {
    color: red;
    padding-right: 10px;
}
video.back-video {
    /* display: flex; */
    /* flex-wrap: wrap; */
}
p.video-heading-2 {
    border-bottom: 10px solid black;
    padding-top: 5px;
}

p.video-heading-1 {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Russo One';
    letter-spacing: 1px;
}

.video-first {
    padding-top: 35px;
}

video.back-video.video-1 {
    min-height: unset !important;
    position: inherit !important;
}

section#home-1 {
    justify-content: center;
    display: flex;
    /* height: 100vh; */
    background: 0% 0% / cover no-repeat black;
    position: relative;
    width: 100%;
    overflow: hidden;
    /* top: 0px; */
}

.small-videos {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* gap: 30px; */
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box;
    margin: auto;
}

.small-videos-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

video.small-v {
    width: 100%;

fieldset.teams-listing-wrapper {
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    border-top-right-radius: 10px;
    padding-top: 0;
    padding-right: 0;
    margin-top: 40px;
    padding-right: 10px;
    padding-top: 10px;
    color: black;
}
fieldset.teams-listing-wrapper:hover{
    padding-top: 25px;
    margin-top: 25px;
}

.teams-listing-standing {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #949498;
    margin-bottom: 10px;
}

.teams-listing-rank {
    font-size: 2.625rem;
    line-height: 3rem;
    font-family: 'Archivo Black';
}

.teams-listing-points {
    text-align: right;
}

.teams-listing-upper {
    font-size: 23px;
    line-height: 24px;
    font-family: 'Zen Dots', cursive;
    /* font-weight: bold; */
}

.teams-listing-lower {
    display: inline-block;
    padding: 2px 9px 1px;
    border-radius: 5px;
    color: #fff;
    background: #000;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Russo One';
    letter-spacing: 2px;
}

.teams-listing-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #949498;
    margin-bottom: 10px;
}

.teams-listing-tname {
    display: flex;
    align-items: center;
}

span.teams-listing-tcolor {
    display: inline-block;
    width: 5px;
    height: 28px;
    background-color: red;
    margin-right: 13px;
}

.teams-listing-tlogo {
    max-width: 50px;
}
.teams-listing-tdrivers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.teams-listing-fdriver {
    border-right: solid 1px #949498;
    border-bottom: solid 1px #949498;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding: 0;
    width: 100%;
    max-width: 48%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

span.teams-listing-fdriver-first {
    font-size: 17px;
    line-height: 17px;
    font-family: monospace;
}

span.teams-listing-fdriver-last {
    text-transform: uppercase;
    font-weight: bolder;
    /* font-family: auto; */
    /* letter-spacing: 2px; */
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Archivo Black', sans-serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Russo One', sans-serif; */
    /* font-family: 'Tektur', cursive; */
    font-size: large;
}
span.teams-listing-t-name {
    font-weight: bolder;
    font-family: 'Archivo Black';
    font-size: 25px;
}

.teams-listing-fdriver-img {
    max-width: 48px;
}
.teams-listing-carfullimg {
    text-align: center;
    background-image: url(teams-img/plus-x1.avif);
    background-size: 12px;
    background-repeat: repeat;
    background-size: 8px;
    border-radius: 10px;
    overflow: hidden;
    background-position-x: -1px;
}

.teams-listing-carfullimg-1 img {
    width: 80%;
    display: inline-block;
}

.teams-main-container-1 {
    box-sizing: border-box;
}

.teams-row {
    box-sizing: border-box;
}

.teams-sub-cont-1 {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.teams-listing-items {
    box-sizing: border-box;
    text-decoration: none;
}